@use '../../../../styles/abstracts/index' as *;

.forgot-password-link {
  font-size: 0.9rem;
  text-align: end;
  margin-top: 12px;
  cursor: pointer;
}

.reset-password-form {
  @include formStyles();
}
