@use "../../variables" as v;

.containerHero {
  background-image: v.$gradient-image;
  width: 100%;
  height: 70vh;
  border-radius: 12px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    position: absolute;
    text-align: center;
    width: 90%;

    h2 {
      line-height: 150%;
      color: v.$color-bg;
      font-size: 3.5rem;
      margin-bottom: 15px;
    }

    button {
      padding: 15px 35px;
      background: v.$color-secondary;
      border: none;
      border-radius: 50px;

      a {
        text-decoration: none;
        color: v.$color-primary;
      }
    }
  }
}