@use "../../variables" as v;
@import "../common/cardProject.scss";

.containerProjects {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 15px;

  .imageContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .containerInfo {
    border: 1px solid v.$color-primary;
    width: 60%;
    color: v.$color-primary;
    border-radius: 12px;
    h4 {
      color: rgba(v.$color-primary, 0.5);
    }
  }
}
