@use 'variables' as *;

// Gradient Background
// Ejemplo de uso: @include gradientBg(to right, hsl(200, 80%, 50%), hsl(300, 70%, 40%));
@mixin gradientBg($direction, $colors...) {
  background-image: linear-gradient($direction, $colors...);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// Flexbox Center
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Glassmorphism Blur Effect
// Ejemplo de uso: @include glassBlur(hsl(220, 40%, 20%), 0.1, 10px);
@mixin glassBlur($color: var(--color-bg-primary), $opacity: 0.07, $blur: 4.4px) {
  background: ($color, $opacity);
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur);
}

// Card Shadow
// Ejemplo de uso: @include cardShadow(12px, 25px);
@mixin cardShadow($radius: 10px, $padding: 20px) {
  border-radius: $radius;
  padding: $padding;
  box-shadow: 0 4px 10px hsla(var(--color-primary), 0.15);
}

// Fade-in/out animation
@mixin fadeInOutMixin($time: 0.5s) {
  animation: fadeIn $time ease-in-out;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

// Fade-in animation
@mixin fadeIn($time: 0.5s) {
  animation: fadeIn $time ease;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

// Slide-up with fade-in animation
@mixin slideAnimation($duration: 0.8s, $distance: 30px) {
  animation: slideUpFadeIn $duration ease-out;
  overflow: hidden;

  @keyframes slideUpFadeIn {
    from {
      transform: translateY($distance);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

// Transition Mixin
@mixin transitionMixin($property: all, $duration: 0.3s) {
  transition: $property $duration ease-in-out;
}

// Primary Button Styles
@mixin buttonPrimary {
  padding: $padding-input;
  background: var(--color-bg-primary);
  color: var(--color-primary);
  border: none;
  border-radius: $radius-input;
  cursor: pointer;
}

// Form Styles
@mixin formStyles {

  fieldset {
    border: none;
    position: relative;
  }

  label {
    padding: 10px;
    display: flex;
    position: absolute;
    align-items: center;
    font-size: 0.7rem;
  }

  label.required::after {
    content: '*';
    color: red;
    margin-left: 5px;
    position: absolute;
    right: 0;
    font-size: 1.5rem;
  }

  input,
  textarea,
  select {
    border: 1px solid var(--color-line);
    padding: 25px 10px 10px 10px;
    border-radius: $radius-input;
    width: 100%;
    background: none;
    color: var(--color-bg-primary);
  }

  .errorServer,
  .errorForm {
    background: var(--color-alert-red);
    margin-top: 5px;
    text-align: start;
    padding: 5px;
    border-radius: 3px;
    font-size: 0.8rem;
    font-weight: 400;
    color: $color-font-alert;
  }

  .errorServer {
    text-align: center;
  }

  button {
    @include buttonPrimary();
  }
}