$fontFamily: 'Raleway', sans-serif;

//colores constantes
$color-font-alert: #f3f9ff;

//Padings
$padding-input: 0.9rem;

//Border Radius
$radius-input: 6px;
$radius-container: 12px;

:root {
  --color-primary: hsl(207, 50%, 92%);
  --color-secondary: hsl(210, 60%, 96%);
  --color-bg-primary: hsl(207, 75%, 12%);
  --color-bg-secondary: hsl(207, 100%, 15%);
  --color-font: var(--color-bg-primary);
  --color-line: hsla(207, 75%, 12%, 0.15);
  --color-bg-transparent: hsla(207, 75%, 12%, 0.8);

  // Colores extras gradient
  --color-third: hsl(207, 80%, 95%);
  --color-fourth: hsl(207, 75%, 94%);
  --color-fifth: hsl(207, 70%, 93%);

  // Alertas

  --color-alert-red: hsl(8, 64%, 45%);
  --color-alert-yellow: hsl(45, 100%, 65%);
  --color-alert-green: hsl(160, 80%, 40%);
}

[data-theme='dark'] {
  --color-primary: hsl(207, 75%, 12%);
  --color-secondary: hsl(207, 100%, 15%);
  --color-bg-primary: hsl(207, 50%, 92%);
  --color-bg-secondary: hsl(210, 60%, 96%);
  --color-font: var(--color-bg-primary);
  --color-line: hsla(207, 50%, 92%, 0.15);
  --color-bg-transparent: hsla(207, 50%, 92%, 0.18);

  // Colores extras gradient
  --color-third: hsl(207, 90%, 15%);
  --color-fourth: hsl(207, 85%, 14%);
  --color-fifth: hsl(207, 80%, 13%);

  // Alertas
  --color-alert-red: hsl(8, 64%, 45%);
  --color-alert-yellow: hsl(45, 100%, 55%);
  --color-alert-green: hsl(145, 80%, 40%);
}
