@use "../../variables" as v;

.containerCardService {
  border-radius: 12px;
  width: 700px;
  position: relative;
  &__img {
    position: relative;
    width: 100%;
    height: 700px;
    img {
      border-radius: 11px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    margin-top: 15px;
    color: v.$color-primary;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(v.$color-primary, 0.5);
    h4 {
      color: rgba(v.$color-primary, 0.5);
      font-weight: 500;
    }
  }
}
