@use '../../../../styles/abstracts/index' as *;

.forgot-password-link {
  font-size: 0.9rem;
  text-align: end;
  margin-top: 12px;
  cursor: pointer;
}

.reset-password-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

  &_info {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      border: 1px solid var(--color-primary);
      padding: $padding-input;
      border-radius: $radius-input;
      width: 100%;
      background: none;
      color: var(--color-bg-primary);
    }
  }
}
