@use '../../../../../styles/abstracts/index' as *;

.containerDetalles {
	display: flex;
	width: 100%;

	.containerDetallesInfo {
		width: 100%;

		&-detallesModal {
			position: relative;
			border: 1px solid red;
		}

		&-containerButtonCotizacion {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 1rem;

			.buttonHacerCotizacion {
				color: var(--color-bg-primary);
				border-radius: 6px;
				background: var(--color-primary);
				padding: 15px 20px;
				border: none;
				cursor: pointer;
				transition: background 0.3s;
			}
		}
	}
}