@use '../../../../../styles/abstracts/index' as *;

.ContainerSolicitudes {
	width: 40%;
	position: relative;
	padding: 15px;
	height: 50vh;

	&-menu {
		display: flex;
		justify-content: space-around;

		button {
			background: none;
			border: none;
			width: 100%;
			cursor: pointer;
			color: var(--color-text);
			padding: 15px 20px;

			&.active {
				font-weight: bold;
				background: var(--color-hover);
				border-radius: 6px;
			}
		}
	}

	&-content {
		overflow-x: hidden;
		overflow-y: hidden;
	}

}