@use '../../../../styles/abstracts/index' as *;

.modal-overlay {
  background: lightsalmon;

  .modal-content {
    background: var(--color-bg-primary);
    width: 600px;
    border-radius: 12px;
  }
}

//Extras clases
.modalConfirm {
  position: absolute;
  background: hsla(var(--color-primary) 0.5);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 80px;
  z-index: 5000;

  @include glassBlur(var(--color-primary), 0.1, 1.5px);
  @include slideAnimation(0.4s, -40px);

  .confirm {
    color: var(--color-primary);
    background: var(--color-bg-primary);
    width: auto;
    height: 100vh;
    //height: fit-content;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 25px;

    &_modal-header,
    .modal-body,
    .modal-footer {
      height: auto;
    }

    &_modal-header {
      font-size: 1.3rem;
      height: auto;
    }

    .modal-body {
      line-height: 150%;
      height: auto;
    }

    .modal-footer {
      display: flex;
      gap: 15px;
      margin-top: 25px;

      button {
        width: 100%;

        @include buttonPrimary();

        &:hover {
          background: var(--color-primary);
          color: var(--color-bg-primary);

          @include fadeIn();
        }
      }
    }
  }
}
