@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

//Variables fonts
$font-family: "Raleway", sans-serif;

//Variables - colo1r
$color-bg: #e9f0f6;
$color-primary: #082436;
$color-secondary: #00c6b4;

// Gradients
$gradient-image: linear-gradient(
  to right bottom,
  #183144,
  #142e40,
  #102a3d,
  #0c2739,
  #082436
);

//Glass
