@use "./variables" as v;

//Formatear estilos
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//Body
.containerBody {
  width: 100%;
  padding: 15px;
}
body {
  background: v.$color-bg;
  font-family: v.$font-family;
}
