@use "../../variables" as v;

.containerHeader {
  color: v.$color-bg;
  position: fixed;
  top: 15px;
  left: 15px;
  right: 15px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px;
  border-radius: 10px;
  background: transparent;
  transition: background 0.3s ease-in-out();
  &.scrolled {
    background: rgba(v.$color-primary, 0.9);
    color: v.$color-bg;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  &__nav {
    display: flex;
    gap: 30px;
    ul {
      font-weight: 200;
      list-style-type: none;
      display: flex;
      align-items: center;
      gap: 30px;
    }
    button {
      font-weight: 500;
      background: v.$color-secondary;
      border: none;
      border-radius: 50px;
      padding: 5px 35px;
      cursor: pointer;
    }
  }
}
