@use '../../../../styles/abstracts/index' as *;

.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .dashboard-content {
    display: flex;
    flex: 1;
    overflow: hidden;

    .main-content {
      flex: 1;
      //border: 1px solid var(--color-line);
      border-radius: 12px;
      overflow-y: auto;
      margin-right: 50px;
      margin-bottom: 25px;
      transition: margin-right 0.3s ease-out;

      &.panel-open {
        margin-right: 0px;
      }
    }
  }

  .dashboard-footer {
    height: 40px;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
}