@use '../../../../styles/abstracts/_index' as *;

.sidebar {
  width: 72px;
  color: var(--color-bg-primary);

  position: relative;
  transition: width 0.3s ease;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  &.expanded {
    width: auto;
  }

  .toggle-btn {
    background: none;
    border: none;
    color: var(--color-bg-primary);
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-right: 15px;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 15px 15px 15px 25px;
      cursor: pointer;
      border-radius: 3px;

      &:hover {}

      &.active {
        border-left: 8px solid var(--color-secondary-logo);
        color: var(--color-bg-primary);
      }

      .menu-icon {
        font-size: 1.2rem;
        min-width: 20px;
        margin-right: 20px;

        &-text {
          font-size: 1rem;
          font-weight: 200;
        }
      }

      span {
        white-space: nowrap;
      }
    }
  }
}