@use '../../../../../styles/abstracts/index' as *;

.containerCardProyecto {
	width: 100%;

	.listaProyectos {
		display: flex;
		gap: 25px;
	}

	.containerCardInfo {
		padding: 25px 0;
		height: 100%;
		display: flex;
		gap: 25px;
		flex-direction: column;
		justify-content: space-between;

		.proyectoCard {
			border: 1px solid var(--color-line);
			padding: 25px;
			width: 100%;
			border-radius: 12px;

			header {
				display: flex;
				justify-content: space-between;
			}
		}
	}

	.detallesProyecto {
		display: flex;
		height: 100%;
		gap: 25px;

		section {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 25px;
			width: 50%;
		}

		div {
			width: 100%;
			height: 100%;
			border: 1px solid var(--color-line);
			border-radius: 12px;
			padding: 25px;
		}

		.detallesEstadisticas {
			border: 1px solid red;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.circularProgressbar {
				width: 15%;
			}
		}
	}


}